@charset "utf-8";
/* CSS Document */

table {
	width: auto;
	margin: 0 auto 0 auto;
	height: auto;
}
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	}
th {
	text-align: center;
	background-color:#375CB6;
	padding: 3px;
	margin-top: 10px;
	border-bottom: thin solid #3004C4;
}
td {
	padding: 3px;
	margin-top: 10px;
	border-bottom: thin solid #3004C4;
}
p {
	text-align: left;
}
.dark-background {
	background-color: #F09F34;
}	
.even {
	background-color: azure;
}
.odd {
	background-color: azure;
}
